<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  
  <display-name>s2click</display-name>
  
  <servlet>
  	<servlet-name>ClickServlet</servlet-name>
  	<!-- <servlet-class>net.sf.click.S2ClickServlet</servlet-class> -->
  	<servlet-class>net.sf.click.S2ClickServletTx</servlet-class>
  	<load-on-startup>2</load-on-startup>
  </servlet>
  
  <servlet>
  	<servlet-name>ResourceServlet</servlet-name>
  	<servlet-class>org.seasar.s2click.servlet.ResourceServlet</servlet-class>
    <init-param>
      <param-name>rootPackage</param-name>
      <param-value>org.seasar.s2click.example.resource</param-value>
    </init-param>
  	<load-on-startup>3</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>s2servlet</servlet-name>
    <servlet-class>org.seasar.framework.container.servlet.S2ContainerServlet</servlet-class>
    <!--
    <init-param>
      <param-name>configPath</param-name>
      <param-value>app.dicon</param-value>
    </init-param>
    -->
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
  	<servlet-name>FileDownloadServlet</servlet-name>
  	<servlet-class>org.seasar.s2click.servlet.FileDownloadServlet</servlet-class>
  	<load-on-startup>3</load-on-startup>
  </servlet>

  <servlet-mapping>
  	<servlet-name>ClickServlet</servlet-name>
  	<url-pattern>*.htm</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ResourceServlet</servlet-name>
  	<url-pattern>/resources/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>s2servlet</servlet-name>
    <url-pattern>/s2servlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>FileDownloadServlet</servlet-name>
    <url-pattern>/files/*</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
  	<welcome-file>index.htm</welcome-file>
  </welcome-file-list>
  <!--
  <listener>
    <listener-class>org.seasar.s2click.example.util.HsqldbServletContextListener</listener-class>
  </listener>
  -->
  <filter>
    <filter-name>s2filter</filter-name>
    <filter-class>org.seasar.framework.container.filter.S2ContainerFilter</filter-class>
  </filter>

  <filter>
    <filter-name>hotdeployfilter</filter-name>
    <filter-class>org.seasar.framework.container.hotdeploy.HotdeployFilter</filter-class>
  </filter>
  
  <filter>
    <filter-name>UrlPatternFilter</filter-name>
    <filter-class>org.seasar.s2click.filter.UrlPatternFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>s2filter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>

  <filter-mapping>
    <filter-name>hotdeployfilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>UrlPatternFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  
</web-app>